body {
  background-color: black;
  text-align: center;
}
.bg-container {
  /*background-color: white;*/
}
.main-header {
  /*2.remove class after user clicks on #first clue */
  border: 5px solid white;
  margin-top: 50px;
}
#hidden-header {

  color: white;
}
 h1, h2 {
	text-align: center;
  color: white;
}
h3 {
  text-align: right;
  margin-top: 250px;
  font-size: 25px;
  color: black;
}
h4 {
  color: white;
  text-align: center;
}
.bg-white {
  /*background-color: blue;*/
}
#first-clue h3{
  /*1. toggle or show bg-color when user clicks on # first-clue h3 also toggle background color and text color change.*/
  /*background-color: white;*/
  margin-left: 965px;
  padding: 5px;


}
#first-clue :hover{
  cursor: cell;
}
#hidden-header {
  display: none;
}
#hidden-questions {
  display: none;
}
.radios-1stSet {
  display: none;
}
.radios-2ndSet {
  display: none;
}
.radios-3rdSet {
  display: none;
}
