body {
  background-color: black;
  text-align: center;

}
.container {
  margin: auto;
  position: relative;
}
.main-header {
  /*2.remove class after user clicks on #first clue */
  border: 5px solid white;
  margin-top: 50px;
  color: white;
}
#hidden-header {
  color: white;
}
 h1, h2 {
	text-align: center;
}
#h1-static {
  color: black;
  background-color: white;
  position: relative;
}
h3 {
  margin-top: 250px;
  font-size: 15px;
  color: black;
  padding: 5px;
}
h4 {
  color: white;
  text-align: center;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
#first-clue-event1 {
  margin-right: 600px;
}
#first-clue-event1 h3{
  width: 60px;
  height: 60px;
}
.bg-toggle {
  position: relative;
}
#first-clue-event1 :hover{
  cursor: cell;
}
#hidden-header {
  display: none;
}
#event2 {
  color: #8AE6F2;
  text-decoration: underline;
}
#hidden-header :hover{
  cursor: pointer;
}
.radios-1stSet {
  background-color: lightblue;
  color: black;
  border: 5px solid white;
  display: none;

}
 img{
  width: 200px;
  height: 200px;

}

#img3 {
  width: 250px;
}
#img1Set3 {
  width: 250px;
}
.img-align {
  display: inline-block;
  text-align: center;

}
.radios-2ndSet {
  background-color: #8AF2C3;
  color: black;
  border: 5px solid white;
  display: none;

}
.radios-3rdSet {
  background-color: #E6BAC7;
  display: none;
}
p {
  font-size: 15px;
  text-align: center;
}
.bg-toggle {
  border: 2px solid green;
}
.output {
  position: relative;
  display: none;
  text-align: center;
}
#imgResult1 {
  display: none;
}
#imgResult2 {
  display: none;
}
#imgResult3 {
  display: none;
}
#img4 {
  display: none;
}
#img5 {
  display: none;
}
#result img {
  width: 400px;
  height: 400px;

}
.output p {
  color: white;
  font-size: 25px;
}
.output span {
  color: white;
  font-size: 20px;
}
